

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <!-- CALENDAR SECTION -->
          <div class="calendar-container">
            <div class="calendar-day" id="mon" is-available="false" value="1">
              <p class="week-day">Mon</p>
            </div>
            <div class="calendar-day" id="tue" is-available="false" value="2">
              <p class="week-day">Tue</p>
            </div>
            <div class="calendar-day" id="wed" is-available="false" value="3">
              <p class="week-day">Wed</p>
            </div>
            <div class="calendar-day" id="thu" is-available="false" value="4">
              <p class="week-day">Thu</p>
            </div>
            <div class="calendar-day" id="fri" is-available="false" value="5">
              <p class="week-day">Fri</p>
            </div>
            <div class="calendar-day" id="sat" is-available="false" value="6">
              <p class="week-day">Sat</p>
            </div>
            <div class="calendar-day" id="sun" is-available="false" value="7">
              <p class="week-day">Sun</p>
            </div>
            <div id="edit-btn"><p>EDIT</p></div>
          </div>
        </div>
      </div>
      <script src="../public/js/editAvail.js"></script>
      <!-- IS ANYONE FREE ON THIS DAY -->
      <div class="row">
        <div class="col-sm-12">
          <div class="free-friend">
            <p id="free-friend-text">No friends are availible today!</p>
          </div>
        </div>
      </div>
    </div>
=======
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Please click which days you have off.</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <div id="week">
              <label for="monday">Monday</label>
              <input type="checkbox" id="monday">
              <label for="tuesday">Tuesday</label>
              <input type="checkbox" id="tuesday">
              <label for="weds">Wednesday</label>
              <input type="checkbox" id="weds">
              <label for="thurs">Thursday</label>
              <input type="checkbox" id="thurs">
              <label for="friday">Friday</label>
              <input type="checkbox" id="friday">
              <label for="saturday">Saturday</label>
              <input type="checkbox" id="saturday">
              <label for="sunday">Sunday</label>
              <input type="checkbox" id="sunday">
            </div>
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

