
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <!-- CALENDAR SECTION -->
          <div class="calendar-container">
            <div class="calendar-day" id="mon" is-available="false" value="1">
              <p class="week-day">Mon</p>
            </div>
            <div class="calendar-day" id="tue" is-available="false" value="2">
              <p class="week-day">Tue</p>
            </div>
            <div class="calendar-day" id="wed" is-available="false" value="3">
              <p class="week-day">Wed</p>
            </div>
            <div class="calendar-day" id="thu" is-available="false" value="4">
              <p class="week-day">Thu</p>
            </div>
            <div class="calendar-day" id="fri" is-available="false" value="5">
              <p class="week-day">Fri</p>
            </div>
            <div class="calendar-day" id="sat" is-available="false" value="6">
              <p class="week-day">Sat</p>
            </div>
            <div class="calendar-day" id="sun" is-available="false" value="7">
              <p class="week-day">Sun</p>
            </div>
            <div id="edit-btn"><p>EDIT</p></div>
          </div>
        </div>
      </div>
      <script src="js/editAvail.js"></script>
      <!-- IS ANYONE FREE ON THIS DAY -->
      <div class="row">
        <div class="col-sm-12">
          <div class="free-friend">
            <p id="free-friend-text">No friends are availible today!</p>
          </div>
        </div>
      </div>
    </div>